body {
    font-family: Arial, sans-serif;
  
    background-color: #8d5d5d;
}

header {
    background-color: #292929;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.botonb {
    background-color: #8d5d5d;
color: aqua;
    padding: 10px;
    text-align: center;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav1 a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.nav2 a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 15px 22px;
    border: 2px solid;
    border-radius: 50px;
}

/* main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
} */

article {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.contenedor {
    display: flex;
}

.imagen-con-texto {
position: relative;
margin-right: 2%;
width: 100%;
}

#imagen1 {
    max-width: 100%;
    height: auto;
    
      } 

  #imagen2 {
    max-width: 100%;
    height: auto; 
  }

  #imagen3 {
    max-width: 100%;
    height: auto;
    
      } 

  #imagen4 {
    max-width: 100%;
    height: auto; 
  }
  
  #imagen5 {
    max-width: 100%;
    height: auto; 
  }




.boton-superpuesto {
position: absolute;

top: 10%;
left: 10%;
transform: translate(-50%, -50%);
padding: 3%;
background-color: rgb(0, 0, 0);
text-decoration: none;
color: rgb(255, 255, 255);
font-weight: bold;
border: none;
cursor: pointer;
}



.texto-encima {
position: absolute;
top: 30%;
left: 20%;
transform: translate(-50%, -50%);
color: rgb(0, 0, 0);
font-size: 20px;
font-weight: bold;
}

/* codigo del contenedor deslizable */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  #contenedor-deslizable {
    position: fixed;
    top: 0;
    right: -25%; 
    width: 25%;
    height: 100%;
    background-color: #f0f0f0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  #contenedor-deslizable a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  #contenedor-deslizable a:hover {
    color: #f1f1f1;
  }

  #boton-abrir {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    right: 0; 
    top: 20px;
    padding-right: 20px; 
    z-index: 1;
  }

  #contenido-pagina {
    transition: margin-right .5s;
    padding: 16px;
    margin-right: 0; 
  }

  #contenido-pagina.contenido-pagina-abierto {
    margin-right: 25%;
  }


  